.stoch-value-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .pair-symbol {
    padding-left: 2px;
    padding-bottom: 2px;
    text-align: left;
    flex: 1 0 auto;
    width: 20%;
    font-size: smaller;
  }

  .stoch-value {
    padding-left: 2px;
    padding-bottom: 2px;
    text-align: center;
    flex: 1 0 auto;
    width: 20%;
    font-size: smaller;
  }
}
